spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/eventdb
    username: eventuser
    password: eventpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
